@charset "UTF-8";
@import 'sanitize.css';
body { margin: 0; padding: 0; color: #123; background-color: #edf0f2; font-family: 'Noto Serif Thai', serif; font-size:16px; }
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; font-weight: normal; letter-spacing: 2px; font-family: 'Noto Sans Thai', sans-serif; }
ul,li,ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none; cursor: pointer; }
.clr:after{ content:""; display:block; height:0; clear:both; visibility:hidden; }


.BGHome{ margin-top: 60px; background-color: #f4f6f7; background: url(../images/bg/bg-type15.jpg) no-repeat; background-size: cover; background-position: top center;}
/* TravelType */
.TravelType{ width: auto; height: auto; padding: 100px 0 100px 0; /*background-color: #183153;*/ /* background: url(../images/bg/bg-type10.jpg) no-repeat; background-size: cover; background-position: center;*/}
.TravelType .TravelTypeBox{ width: auto; max-width: 900px; margin: auto; text-align: center; }
.TravelType .TravelTypeBox h2{ font-size: 20px; font-weight: 400; letter-spacing: 0; color: #FAB006;}
.TravelType .TravelTypeBox h3{ font-size: 45px; font-weight: 600; letter-spacing: 0px;}
.TravelType .TravelTypeBox ul{ display: flex; flex-wrap: wrap; align-items: center; margin-top: 40px;}
.TravelType .TravelTypeBox ul li{ width: 29.3%; height: 400px; display: block; margin: 0 2%; background-color: #fff; border-radius: 15px; overflow: hidden; position: relative; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); transition: .3s ease;}
.TravelType .TravelTypeBox ul li a{ display: block; padding-bottom: 35px;}
.TravelType .TravelTypeBox ul li p{ margin: 0; padding: 0;}
.TravelType .TravelTypeBox ul li .Picture{ width: auto; height: 260px; overflow: hidden;}
.TravelType .TravelTypeBox ul li .Picture img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.TravelType .TravelTypeBox ul li .Icon{ width: 80px; height: 80px; line-height: 85px; font-size: 30px; position: absolute; bottom: 100px; text-align: center; border-radius: 100px; background-color:#fff; color: #FAB006; left: 0; right: 0; margin: auto; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); transition: .3s ease;}
.TravelType .TravelTypeBox ul li .Title{ margin-top: 55px; font-size: 25px; letter-spacing: 1px; color: #183153; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif;}
.TravelType .TravelTypeBox ul li .Title span{ display: block; font-size: 16px; margin-top: -5px; color: #666; letter-spacing: 0;}
.TravelType .TravelTypeBox ul li a:hover{ background-color: #FAB006; transition: .3s ease;}
.TravelType .TravelTypeBox ul li a:hover .Picture img{ transform: scale(1.1); transition: .3s ease;}
.TravelType .TravelTypeBox ul li a:hover .Icon{ background-color: #183153; bottom: 110px; transition: .3s ease;}
/* TravelType2 */
.TravelType2{ width: auto; height: auto; padding: 20px 0 20px 0; background-color: #f4f6f7; /*background-color: #183153;*/ /*background-color: rgba(24, 49, 81, 0.5);*/ text-align: center; clear: both;}
.TravelType2 .TravelCategoryList{ width: auto; max-width: 1160px; padding: 0px 20px; margin: auto; text-align: center; /*border: 1px solid #FAB006;*/ border-radius: 10px; }
.TravelType2 .TravelCategoryList h2{ font-size: 20px; font-weight: 400; letter-spacing: 0; color: #183153; text-align: center; display: inline-block; line-height: 23px; padding: 10px 30px; border-radius: 10px; text-align: center; margin: auto; /*background-color: #123;*/}
.TravelType2 .TravelCategoryList ul{ display: inline; margin-top: 0px;}
.TravelType2 .TravelCategoryList ul li{ display: inline-block; width: 110px; height: 110px; margin: 0.5% 0.5%; background-color: #FAB006; /*background-image: linear-gradient(150deg, #ffd43b 30%, #FAB006 80%);*/ border: 2px solid #183153; border-radius: 20px; overflow: hidden; position: relative; transition: .3s ease;}
.TravelType2 .TravelCategoryList ul li a{ display: block; }
.TravelType2 .TravelCategoryList ul li p{ margin: 0; padding: 0;}
.TravelType2 .TravelCategoryList ul li .Icon{ position: absolute; z-index: 2; width: 100%; height: 110px; top: 0; left: 0; line-height: 80px; font-size: 30px; text-align: center; color: #183153; transition: .3s ease;}
.TravelType2 .TravelCategoryList ul li .Title{ position: absolute; z-index: 3; width: 100%; bottom: 5px; text-align: center; padding: 5px 4px; font-size: 14px; line-height: 16px; color: #183153; font-weight: 500; font-family: 'Noto Sans Thai', sans-serif;}
.TravelType2 .TravelCategoryList ul li:hover{ /*background-image: linear-gradient(150deg, #183153 30%, #000 80%);*/ background-color: #183153; border: 2px solid #FAB006; color: #ffd43b; transition: .3s ease;}
.TravelType2 .TravelCategoryList ul li a:hover .Title{ color: #ffd43b; transition: .3s ease;}
.TravelType2 .TravelCategoryList ul li a:hover .Icon{ color: #ffd43b; top:-5px; transition: .3s ease;}
.TravelType2 .TravelCategoryList .OpenCategory{ cursor: pointer;}
.TravelType2 .TravelCategoryList .CategoryList { display: none; margin-top: 0px;}
.TravelType2 .TravelCategoryList .fa { transition: transform .2s; transform: rotateZ(90deg); display: block; }
.TravelType2 .TravelCategoryList .fa.active { transform: rotateZ(270deg); }

/* TypeSectionTkicky */
.TypeSectionTkicky{ background-color: #fff; position: relative;}
.TypeSectionTkicky .TypeSection{ left: 0; top: -1px; z-index: 2; width: 100px; position: -webkit-sticky; position: sticky; }
.TypeSectionTkicky .TypeSection p{ position: relative; z-index: 2; margin: 0; padding: 10px 0 0 20px; color: #183153; font-size: 20px;}
.TypeSectionTkicky .TypeSection .Tryangle{ position: absolute; z-index: 0; top: 0; width: 0; height: 0; border-style: solid; border-width: 100px 100px 0 0; border-color: #ffd43b transparent transparent transparent;}


/* TravelHighlight */
.TravelHighlight{ width: auto; height: auto; padding: 80px 0 100px 0; clear: both; background-color: #fff;}
.TravelHighlight .TravelHighlightBox{ width: auto; max-width: 1160px; margin: auto; }
.TravelHighlight .TravelHighlightBox h2{ font-size: 20px; font-weight: 600; letter-spacing: 1px; text-align: left;}
.TravelHighlight .TravelHighlightBox h2 i{ padding: 5px; border-radius: 100px; background-color:#ffd43b; color: #183153;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList{ margin: auto; margin-top: 30px;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul{ margin: 0; padding: 0; border-radius: 20px;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li{ width: auto; height: 460px; position: relative; display: table; border-radius: 20px; overflow: hidden; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li p{ margin: 0; padding: 0;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Picture{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -9999; }
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Picture img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease; }
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li:hover .Picture img{ transform: scale(1.01); transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Descriptoin{ display: table-cell; vertical-align: bottom; position: relative; z-index: 2; padding-left: 20px; padding-bottom: 20px;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .DescriptoinBox{ background-color: rgba(255, 255, 255, 0.7); display: block; padding: 20px; border-radius: 20px; max-width: 60%;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Type{ font-size: 13px; font-weight: 500;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Type a{ color: #123;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Title{ margin: 10px 0; font-size: 21px; letter-spacing: 0; color: #183153; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Title a{ color: #183153; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Title a:hover{ color: #FAB006; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Caption{ margin: 10px 0; font-size: 13px;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Links{ margin-top: 20px; font-size: 13px; font-weight: 500;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Links a{ padding: 5px 20px; border-radius: 100px; background-color:#ffd43b; color: #183153; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Links a:hover{ background-color:#183153; color: #ffd43b; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Links a i{ font-size: 13px; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList ul li .Links a:hover i{ margin-left: 5px; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList .slick-prev:before { background-color: #fff; background-image: url('../images/icon/icon-left-solid.svg'); background-repeat: no-repeat; background-size: 20px; background-position: center; border-radius: 100px; display: block; width: 50px!important; height: 50px!important; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); }
.TravelHighlight .TravelHighlightBox .TravelHighlightList .slick-next:before { background-color: #fff; background-image: url('../images/icon/icon-right-solid.svg'); background-repeat: no-repeat; background-size: 20px; background-position: center; border-radius: 100px; display: block; width: 50px!important; height: 50px!important; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); }
.TravelHighlight .TravelHighlightBox .TravelHighlightList .slick-prev,.TravelHighlight .TravelHighlightBox .TravelHighlightList .slick-next{ font-family: "Font Awesome 5 Free"!important; top: 48%; width: 50px!important; height: 50px!important; z-index: 1;}
.TravelHighlight .TravelHighlightBox .TravelHighlightList .slick-track { float: left!important;}
.TravelHighlight .TravelHighlightBox .TravelOthersList{ margin-top: 50px;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header{ display: flex; align-items: center; margin-left: 1.5%; margin-right: 1.5%; margin-bottom: 10px;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header h2{ width: 50%; font-size: 20px; font-weight: 600; letter-spacing: 1px; text-align: left;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header h2 i{ padding: 5px; border-radius: 100px; background-color:#ffd43b; color: #183153;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header .SeeAll{ width: 50%; font-size: 15px; font-weight: 500; text-align: right; }
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header .SeeAll i{ font-size: 12px;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header .SeeAll a{ color:#666;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Header .SeeAll a:hover{ color:#FAB006;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul{ margin: 0; padding: 0; display: flex; flex-wrap: wrap;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li{ width: 47.5%; margin: 1.25%; display: flex; flex-wrap: nowrap; background-color: #fff; padding: 15px; border: 1px dashed #eee; border-radius: 15px; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li:hover{ border: 1px dashed #FAB006; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li p{ margin: 0; padding: 0;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Picture{ width:50%; height: 160px; margin-right: 20px; border-radius: 15px; overflow: hidden; }
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Picture img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease; }
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li:hover .Picture img{ transform: scale(1.1); transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Descriptoin{ width:50%; position: relative; }
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Type{ font-size: 13px; font-weight: 500;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Type a{ color: #FAB006;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Title{ margin: 8px 0; line-height: 23px; font-size: 16px; letter-spacing: 0; color: #183153; font-weight: 500; font-family: 'Noto Sans Thai', sans-serif;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Title a{ color: #183153; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Title a:hover{ color: #FAB006; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Caption{ border-top: 1px dotted #ccc; padding-top: 10px; font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Links{ display: none; margin-top: 10px; font-size: 13px; font-weight: 500;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Links a{ padding: 5px 20px; border-radius: 100px; background-color:#ffd43b; color: #183153; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Links a:hover{ background-color:#183153; color: #ffd43b; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Links a i{ font-size: 13px; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .Links a:hover i{ margin-left: 5px; transition: .3s ease;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .DateTime{ margin-top: 5px; font-family: Helvetica Neue,Helvetica,Thonburi,Arial,sans-serif; font-size: 12px; color: #8d8d8d; font-weight: 400;}
.TravelHighlight .TravelHighlightBox .TravelOthersList ul li .DateTime span{ display: inline-block; margin-right: 20px;}
.TravelHighlight .TravelHighlightBox .TravelOthersList .Viewall{ display: none; font-family: 'Noto Sans Thai', sans-serif; }


/* EatRecommend */
.EatBGSection{ background-color: #f4f6f7;}
.EatRecommend{ width: auto; height: auto; padding: 100px 0 50px 0; clear: both; position: relative; background-color: #f4f6f7;}
.EatRecommend .EatRecommendBox{ width: auto; max-width: 1160px; margin: auto; }
.EatRecommend .EatRecommendBox h2{ font-size: 20px; font-weight: 600; letter-spacing: 1px; text-align: left;}
.EatRecommend .EatRecommendBox h2 i{ padding: 5px; border-radius: 100px; background-color:#ffd43b; color: #183153;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight{ height: auto; align-items: center; margin-top: 30px; margin-bottom: 30px; overflow: auto;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large{ width:50%; background-color:#FAB006; height:460px; background-color: #ccc; float:left; position: relative; z-index: 1; border-radius: 15px; overflow: hidden; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large p{ margin: 0; padding: 0;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Pic{ margin: 0; padding: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Pic img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail{ position: absolute; width: 96%; bottom: 10px; left: 0; right: 0; margin-left: auto; margin-right: auto; margin: auto; z-index: 2; background-color: rgba(255, 255, 255, 0.8); display: block; padding: 20px; border-radius: 15px; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Title{ font-size: 22px; margin: 5px 0; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Title a{ color: #183153; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Title a:hover{ color: #FAB006; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Type{ font-size: 14px; color: #444;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .DateTime{ font-size: 14px; color: #444;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .DateTime i{ font-size: 13px; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Links{ position:absolute; right: 0; bottom: 0; width: 100%; max-width: 130px; text-align: center; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Links a{ color: #183153; display: block; padding: 4px 0; border-radius: 15px 0px 15px 0px; background-color:#FAB006; font-size: 13px; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Links i{ font-size: 12px;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Links a:hover{ background-color:#183153; color: #ffd43b; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large .Detail .Links a:hover i{ margin-right: 5px; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small{ width:48%; background-color:#FAB006; height:220px; background-color: #ccc; float:right; margin: 0 0 0 0;  position: relative; z-index: 1; border-radius: 15px; overflow: hidden; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small p{ margin: 0; padding: 0;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Pic{ margin: 0; padding: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Pic img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail{ position: absolute; width: 55%; top: 10px; left: 10px; z-index: 2; background-color: rgba(255, 255, 255, 0.8); display: block; padding: 15px 15px 30px 15px; border-radius: 15px; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Title{ font-size: 20px; line-height: 25px; margin: 5px 0; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Title a{ color: #183153; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Title a:hover{ color: #FAB006; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Type{ font-size: 14px; color: #444;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .DateTime{ font-size: 13px; color: #444;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .DateTime i{ font-size: 13px; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Links{ position:absolute; right: 0; bottom: 0; width: 100%; max-width: 120px; text-align: center; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Links a{ color: #183153; display: block; padding: 4px 0; border-radius: 15px 0px 15px 0px; background-color:#FAB006; font-size: 13px; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Links i{ font-size: 12px;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Links a:hover{ background-color:#183153; color: #ffd43b; transition: .3s ease; }
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small .Detail .Links a:hover i{ margin-right: 5px; transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small:nth-child(2){ margin-bottom: 2%;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .large:hover img{ transform: scale(1.01); transition: .3s ease;}
.EatRecommend .EatRecommendBox .EatRecommendHighlight .small:hover img{ transform: scale(1.01); transition: .3s ease;}


/* HotelReccommend */
.HotelReccommend{ width: auto; height: auto; padding: 100px 0 50px 0; clear: both; position: relative; background-color: #fff;}
.HotelReccommend .HotelReccommendBox{ width: auto; max-width: 1160px; margin: auto; }
.HotelReccommend .HotelReccommendBox h2{ font-size: 20px; font-weight: 600; letter-spacing: 1px; text-align: left;}
.HotelReccommend .HotelReccommendBox h2 i{ padding: 5px; border-radius: 100px; background-color:#ffd43b; color: #183153;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR{ display: flex; flex-wrap: wrap; align-items: center; margin-top: 30px;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft{ width: 60%;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .large{ width:50%; background-color:#FAB006; height:450px; background-color: #ccc; float:right; border-radius: 15px; overflow: hidden; transition: .3s ease; }
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .large img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .small{ width:47%; background-color:#FAB006; height:215px; background-color: #ccc; float:left; margin: 0 0 0 0; border-radius: 15px; overflow: hidden; transition: .3s ease; }
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .small img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .small:nth-child(2){ margin-bottom: 3%;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .large:hover img{ transform: scale(1.01); transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxLeft .small:hover img{ transform: scale(1.01); transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight{ width: 40%; padding-left: 40px;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight p{ margin: 0; padding: 0;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Type{ font-weight: 500;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Type a{ color: #FAB006;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Title{ margin: 10px 0; font-size: 25px; letter-spacing: 1px; color: #183153; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Title a{ color: #183153; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Title a:hover{ color: #FAB006; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Description{ margin: 30px 0;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .TypeandFacilities{ font-size: 13px; color: #999; }
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .TypeandFacilities a{ color: #999;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .TypeandFacilities i{ font-size: 13px; padding: 5px; background-color: #ffd43b; color: #183153; border-radius: 100px;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Links{ margin-top: 30px; font-weight: 500;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Links a{ padding: 10px 40px; border-radius: 100px; background-color:#ffd43b; color: #183153; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Links a:hover{ background-color:#183153; color: #ffd43b; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Links a i{ font-size: 13px; transition: .3s ease;}
.HotelReccommend .HotelReccommendBox .HotelReccommendBoxLR .BoxRight .Links a:hover i{ margin-left: 5px; transition: .3s ease;}

/* HotelList */
.HotelList{ width: auto; height: auto; padding: 0 0 100px 0; clear: both; background-color: #fff;}
.HotelList .HotelListBox{ width: auto; max-width: 1160px; margin: auto; border-top: 1px solid #eee; padding-top: 40px; }
.HotelList .HotelListBox .HotelListBoxLR{ display: flex; flex-wrap: wrap; }
/*.HotelList .HotelListBox .HotelListBoxLR .BoxLeft{ width: 30%; height: 600px; background-color: #eee;}
.HotelList .HotelListBox .HotelListBoxLR .BoxRight{ width: 70%; padding-left: 40px;}*/
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft{ width: calc(100% - 340px); margin-right: 40px; background-color: #f5f6f6; border-radius: 15px; padding: 20px; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .HotelTitleOthers{ display: inline-block; margin: 0; padding: 0; margin-top: 5px; margin-bottom: 20px; font-size: 20px; font-weight: 600; color: #183153; letter-spacing: 1px; font-family: 'Noto Sans Thai', sans-serif; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .HotelTitleOthers i{ padding: 7px; font-size: 16px; border-radius: 100px; background-color:#ffd43b; color: #183153; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .SeeAll{ float: right; margin: 0; padding: 0; padding-top: 10px; text-align: right;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .SeeAll a{ color: #999; font-size: 15px; font-weight: 500; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .SeeAll a:hover{ color: #FAB006;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft .SeeAll i{ font-size: 12px;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul{ margin: 0; border-top: 1px solid #dee2e4; padding-top: 10px;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li{ padding: 15px 0; margin-bottom: 20px; border-radius: 10px; display: flex; flex-wrap: wrap; background-color: #f5f6f6; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li:last-child{ margin-bottom: 0;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Picture{ width: calc(100% - 640px); margin-right: 20px; min-width: 120px; max-width: 120px; height: 120px; border-radius: 10px; overflow: hidden; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Picture img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Picture:hover img{ transform: scale(1.1); transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Descriptions{ width: calc(100% - 150px); position: relative; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li p{ margin: 0; padding: 0;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Title{ position: relative; padding-left: 15px; margin-bottom: 10px; font-size: 18px; letter-spacing: 0; color: #000; font-weight: 600; font-family: 'Noto Sans Thai', sans-serif; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Title:before{ position: absolute; content: '\f142';font-family: "Font Awesome 5 Free"; left: 0; top: 0; color: #FAB006; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Title a{ color: #000; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Title a:hover{ color: #FAB006; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .Caption{ margin-left: 15px; font-size: 15px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .TypeandFacilities{ margin-left: 15px; border-top: 1px dotted #ccc; padding-top: 10px; margin-top: 5px; font-size: 13px; color: #999; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .TypeandFacilities a{ color: #999;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .TypeandFacilities i{ font-size: 13px; padding: 5px; background-color: #ffd43b; color: #183153; border-radius: 100px;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .ReadMore{ display: none; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li .ReadMore i{ font-size: 11px;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li:hover .ReadMore{ position: absolute; display: block; right: 0; bottom: 0; transition: .3s ease; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li:hover .ReadMore a{ background-color: #FAB006; color: #183153; border-radius: 100px; font-size: 14px; padding: 5px 20px; transition: .3s ease; }
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li:hover .ReadMore a:hover{ background-color: #183153; color: #FAB006; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .BoxLeft ul li:hover .ReadMore a:hover i{ margin-left: 5px; transition: .3s ease;}
.HotelList .HotelListBox .HotelListBoxLR .Viewall{ display: none; font-family: 'Noto Sans Thai', sans-serif;}
.HotelList .HotelListBox .HotelListBoxLR .BoxRight{ width: calc(100% - 400px); max-width: 300px; height: auto; text-align: center; border-radius: 15px; overflow: hidden; background-color: #eee; }


/* PostReccommend */
.PostReccommend{ width: auto; height: auto; padding: 80px 0; clear: both;}
.PostReccommend .PostReccommendBox{ width: auto; max-width: 1160px; margin: auto; }
.PostReccommend .PostReccommendBox .Header{ display: flex; align-items: center; margin-bottom: 0px;}
.PostReccommend .PostReccommendBox .Header h2{ width: 50%; font-size: 20px; font-weight: 600; letter-spacing: 1px; text-align: left;}
.PostReccommend .PostReccommendBox .Header h2 i{ padding: 5px; border-radius: 100px; background-color:#ffd43b; color: #183153;}
.PostReccommend .PostReccommendBox .Header .SeeAll{ width: 50%; font-size: 15px; font-weight: 500; text-align: right; }
.PostReccommend .PostReccommendBox .Header .SeeAll i{ font-size: 12px;}
.PostReccommend .PostReccommendBox .Header .SeeAll a{ color:#666;}
.PostReccommend .PostReccommendBox .Header .SeeAll a:hover{ color:#FAB006;}
.PostReccommend .PostReccommendBox ul{ margin: 0; padding: 0; display: flex; flex-wrap: wrap;}
.PostReccommend .PostReccommendBox ul li{ width: 32%; margin: 2% 1%;}
.PostReccommend .PostReccommendBox ul li:nth-child(3n+0){ margin-right: 0;}
.PostReccommend .PostReccommendBox ul li:nth-child(3n+1) { margin-left: 0;}
.PostReccommend .PostReccommendBox ul li p{ margin: 0; padding: 0;}
.PostReccommend .PostReccommendBox ul li .Picture{ width: 100%; height: 200px; border-radius: 10px; overflow: hidden;}
.PostReccommend .PostReccommendBox ul li .Picture img{ display: block; width: 100%; height: 100%; object-fit: cover; transition: .3s ease;}
.PostReccommend .PostReccommendBox ul li .Picture:hover img{ transform: scale(1.1); transition: .3s ease;}
.PostReccommend .PostReccommendBox ul li .Title{ margin: 15px 0; font-size: 17px; font-family: 'Noto Sans Thai', sans-serif; font-weight: 500;}
.PostReccommend .PostReccommendBox ul li .Title a{ color: #282d2e; transition: .3s ease;}
.PostReccommend .PostReccommendBox ul li .Title a:hover{ color: #FAB006; transition: .3s ease;}
.PostReccommend .PostReccommendBox ul li .DateTime{ font-family: Helvetica Neue,Helvetica,Thonburi,Arial,sans-serif; font-size: 12px; color: #8d8d8d; font-weight: 400;}
.PostReccommend .PostReccommendBox ul li .DateTime span{ display: inline-block; margin-right: 20px;}
.PostReccommend .PostReccommendBox .Viewall{ display: none; font-family: 'Noto Sans Thai', sans-serif; }

/* Footer */
footer{ background-color: #f4f6f7; color: #333; font-family: Helvetica Neue,Helvetica,Thonburi,Arial,sans-serif; font-size: 14px; padding: 50px 0; overflow: auto; border-top: 2px solid #dee2e4; }
footer .FooterBox{ width: auto; max-width: 1160px; margin: auto; }
footer .FooterBox h2{ font-size: 25px; font-weight: 600; color: #183153;}
footer .FooterBox h2 span{ color: #FAB006;}
footer .FooterBox p{ margin: 0; padding: 0;}
footer .FooterBox .FooterLink{ margin: 20px 0; clear: both; }
footer .FooterBox .FooterLink ul{ display: flex; flex-wrap: wrap; margin: 20px 0; }
footer .FooterBox .FooterLink ul li{ width: 25%;}
footer .FooterBox .FooterLink ul li p{ margin: 0; padding: 0; color: #999; font-size: 15px;}
footer .FooterBox .FooterLink ul ul{ display: block; margin: 0; margin-left: 15px; padding-right: 20px; }
footer .FooterBox .FooterLink ul ul li{ display: inline-block; width: 100%; margin: 5px 0; list-style: disc outside none; display: list-item;}
footer .FooterBox .FooterLink ul ul li a{ color: #123;}
footer .FooterBox .FooterLink ul ul li a:hover{ color: #FAB006;}
footer .FooterBox .FooterLink ul li.Icon{ font-size: 30px;}
footer .FooterBox .FooterLink ul li.Icon i{ margin-right: 5px;}
footer .FooterBox .FooterLink ul li.Icon a{ color: #123;}
footer .FooterBox .FooterLink ul li.Icon a:hover .fa-square-facebook{ color: #1877F2;}
footer .FooterBox .FooterLink ul li.Icon a:hover .fa-twitter{ color: #1DA1F2;}
footer .FooterBox .FooterLink ul li.Icon a:hover .fa-youtube{ color: #CD201F;}
footer .FooterBox .FooterLink ul li.Icon a:hover .fa-line{ color: #00C300;}
footer .FooterBox .FooterLink ul li.Icon a:hover .fa-instagram{ color: #E4405F;}
footer .FooterBox .Copyright{ color: #666; display: flex; flex-wrap: wrap; padding-top: 30px; margin-top: 30px; border-top: 1px solid #dee2e4; letter-spacing: 1px;}
footer .FooterBox .Copyright p:nth-child(1){ text-align: left; width: 50%; }
footer .FooterBox .Copyright p:nth-child(1) a{ padding: 4px 10px; border: 1px solid #ccc; color: #666; border-radius: 3px; letter-spacing: 0; }
footer .FooterBox .Copyright p:nth-child(1) a:hover{ background-color: #FFD43B; color: #183153; border: 1px solid #183153;}
footer .FooterBox .Copyright p:nth-child(2){ text-align: right; width: 50%; }

/* BacktoTop */
.cd-top { display: block; height: 40px; width: 40px; position: fixed; bottom: 20px; right: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); border-radius: 50%; overflow: hidden; text-indent: 100%; white-space: nowrap; background: #FAB006 url(../images/icon/icon-up-solid.svg) no-repeat center; background-size: 50%; visibility: hidden; opacity: 0; z-index: 100; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; }
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; }
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }
.cd-top.cd-fade-out { opacity: .8; }
.no-touch .cd-top:hover { background: rgba(250,176,6,1); opacity: 1; }

/* pagination */
#pagination { padding: 0; margin: 60px 0 60px; overflow: hidden; clear: both; }
#pagination ul { position: relative; padding: 0; margin: 0; text-align: center; }
#pagination li { display: inline-block; padding: 0; margin: 0 3px; text-align: center;  list-style: none; }
#pagination li a { background: #f5f5f5; }
#pagination li a:hover { background: #f8f8f8; }
#pagination li:first-child:hover { opacity: .6; }
#pagination li span, #pagination li a { position: relative; letter-spacing: .5px; }
#pagination span, #pagination a { display: block; float: left; width: auto; padding: 15px 12px 15px 12px; margin: 0; color: #000;  text-decoration: none; }
#pagination .active { padding: 15px 12px 15px 12px; background: #e1e1e1; }
#pagination li:first-child span:before, #pagination li:first-child a:before, #pagination li:last-child span:after, #pagination li:last-child a:after { position: absolute; display: block; width: 9px; height: 16px;  margin-top: -7px; content: ""; }
#pagination li:first-child a, #pagination li:first-child span{ padding-left: 27px; background: none; }
#pagination li:first-child span:before, #pagination li:first-child a:before { top: 50%; left: 0; background: url(../images/icon/ico-arrowLeft.svg) no-repeat; background-size: 9px 16px; }
#pagination li:last-child:hover { opacity: .6; }
#pagination li:last-child a, #pagination li:last-child span { padding-right: 27px; margin: 2px 0px; background: none; }
#pagination li:last-child span:after, #pagination li:last-child a:after { top: 50%; right: 0; background: url(../images/icon/ico-arrowRight.svg) no-repeat; background-size: 9px 16px; }